<ul>
  <li class="list-item">Profile info:</li>
    <li class="list-item"><span>Selected profile:</span> {{firstName}} {{lastName}}</li>
    <li class="list-item"><span>Description:</span> {{description}}</li>
    <li class="list-item"><span>Address:</span> {{adress.streetAddress}}</li>
    <li class="list-item"><span>City:</span> {{adress.city}}</li>
    <li class="list-item"><span>State:</span> {{adress.state}}</li>
    <li class="list-item"><span>Index:</span> {{adress.zip}}</li>
</ul>